/* Header with avatar and name */
.mainHeader {
  height: 400px;
  width: 100%; /*centered*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00d99c;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

header h2 {
  color: aliceblue;
}

/* Responsive Design */ /* min 1024px or more */
@media only screen and (min-width: 1024px) {
  .mainHeader {
    width: 30%;
    margin-top: 2em;
    margin-left: 2em;
    border-radius: 10%;
  }
}