/* Tweeter nav*/
nav {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: #00d99c;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*fixed nav bar*/
  position: fixed;
  top: 0;
}

/* Tweeter logo*/
nav span.title {
  margin-bottom: 1em;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
  float: left;
}
/* Write a new tweet */
#write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: none;
  outline: none;
  color:#FFFFFF;
  margin: 1em
}
/* Arrow icon */
#bounce {
  margin: 3px auto;
  color: red
}
