/* Tweeter nav*/
nav {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Tweeter logo*/
nav span.title {
  margin-bottom: 1em;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
  float: left;
}
/* Write a new tweet */
#write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: none;
  outline: none;
  color:#FFFFFF;
  margin: 1em
}
/* Arrow icon */
#bounce {
  margin: 3px auto;
  color: red
}
.fa-angle-double-down {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}
@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}