/* New tweet section/ Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  width: 100%;/*centered*/
}

/* What are you humming about? */
label {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* Text input field */
textarea#tweet-text {
  display: flex;
  font-size: 20px;
  height: 40px;
  margin-bottom: .5em;
  margin-top: .5em;
  width: 100%;
}

/* Tweet button & 140 */
footer {
  display: flex;
  justify-content: space-between;
}

/* Tweet button */
footer button {
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
}

/* Character counter 140*/
.counter {
  font-family: 'Bungee', sans-serif;
  color: #545149;
}
/* Make counter red if over 140 character inputted */
.counterErr {
  color: red;
}

/* Handling Error msg display on screen */
.alert {
  margin:15px 50px 10px 50px;
  font-size:1em;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align:middle;
  color: #D8000C;
  background-color: #FFD2D2;
  text-align: center;
}