/* main article class */
.tweet {
  border: 0.1em solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 0.8em;
  margin-top: 2em;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* tweet text class */
.tweet-text {
  overflow-wrap: break-word;
}

/* tweeter name class */
.name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  margin-left: 0.2em;
}

.time{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
}

article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line{
  border-bottom: .1em solid grey; 
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  margin-top: 0.5em;
}

/* hovering tweet box */
.tweet:hover {
  box-shadow: 10px 10px grey;
}
.alias{
  visibility: hidden;
}
.tweet:hover .alias {
  visibility: visible;
}

/* hovering button flags */
.button {
  font-size: 15px;
  visibility: hidden;
}
.tweet:hover .button {
  visibility: visible;
}

/* Responsive Design */ /* max 480px or less */
@media only screen and (max-width: 480px) {

  .name {
    font-size: large;
  }
  .time {
    font-size: small;
  }
  .button {
    font-size: small;
    visibility: visible;
  }
}

/* Responsive Design */ /* max 1023px or less */
@media only screen and (max-width: 1023px) { 

  .tweet {
    margin-top: 0em;
  }

}